
*.stash
*.o
*.exe
build-server-Desktop_Qt_5_13_1_MinGW_32_bit-Debug/Makefile
*.Debug
*.Release
*.cfg
*.db
build-simple_echo_server-Desktop_Qt_5_13_1_MinGW_32_bit-Debug/Makefile
build-server_with_FIFO_query_4threads-Desktop_Qt_5_13_1_MinGW_32_bit-Debug/Makefile
*.user
